{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://www.googleapis.com/groups/v1/groups"
        }
    ],
    "info": {
        "contact": {
            "name": "Google",
            "url": "https://google.com"
        },
        "description": "Groups Migration Api.",
        "title": "Groups Migration",
        "version": "v1",
        "x-apiClientRegistration": {
            "url": "https://console.developers.google.com"
        },
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "url": "https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png"
        },
        "x-origin": [
            {
                "converter": {
                    "url": "https://github.com/lucybot/api-spec-converter",
                    "version": "2.7.18"
                },
                "format": "google",
                "url": "https://www.googleapis.com/discovery/v1/apis/groupsmigration/v1/rest",
                "version": "v1"
            }
        ],
        "x-preferred": true,
        "x-providerName": "googleapis.com",
        "x-serviceName": "groupsmigration"
    },
    "externalDocs": {
        "url": "https://developers.google.com/google-apps/groups-migration/"
    },
    "tags": [
        {
            "name": "archive"
        }
    ],
    "paths": {
        "/{groupId}/archive": {
            "parameters": [
                {
                    "description": "Data format for the response.",
                    "in": "query",
                    "name": "alt",
                    "schema": {
                        "type": "string",
                        "enum": [
                            "json"
                        ],
                        "default": "json"
                    }
                },
                {
                    "description": "Selector specifying which fields to include in a partial response.",
                    "in": "query",
                    "name": "fields",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
                    "in": "query",
                    "name": "key",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "OAuth 2.0 token for the current user.",
                    "in": "query",
                    "name": "oauth_token",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Returns response with indentations and line breaks.",
                    "in": "query",
                    "name": "prettyPrint",
                    "schema": {
                        "type": "boolean",
                        "default": true
                    }
                },
                {
                    "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
                    "in": "query",
                    "name": "quotaUser",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Deprecated. Please use quotaUser instead.",
                    "in": "query",
                    "name": "userIp",
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Inserts a new mail into the archive of the Google group.",
                "operationId": "groupsmigration.archive.insert",
                "parameters": [
                    {
                        "description": "The group ID",
                        "in": "path",
                        "name": "groupId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "description": "JSON response template for groups migration API.",
                                    "properties": {
                                        "kind": {
                                            "default": "groupsmigration#groups",
                                            "description": "The kind of insert resource this is.",
                                            "type": "string"
                                        },
                                        "responseCode": {
                                            "description": "The status of the insert request.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Oauth2": [
                            "https://www.googleapis.com/auth/apps.groups.migration"
                        ]
                    }
                ],
                "tags": [
                    "archive"
                ]
            }
        }
    },
    "components": {
        "schemas": {
            "Groups": {
                "description": "JSON response template for groups migration API.",
                "properties": {
                    "kind": {
                        "default": "groupsmigration#groups",
                        "description": "The kind of insert resource this is.",
                        "type": "string"
                    },
                    "responseCode": {
                        "description": "The status of the insert request.",
                        "type": "string"
                    }
                },
                "type": "object"
            }
        },
        "parameters": {
            "alt": {
                "description": "Data format for the response.",
                "in": "query",
                "name": "alt",
                "schema": {
                    "type": "string",
                    "enum": [
                        "json"
                    ],
                    "default": "json"
                }
            },
            "fields": {
                "description": "Selector specifying which fields to include in a partial response.",
                "in": "query",
                "name": "fields",
                "schema": {
                    "type": "string"
                }
            },
            "key": {
                "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
                "in": "query",
                "name": "key",
                "schema": {
                    "type": "string"
                }
            },
            "oauth_token": {
                "description": "OAuth 2.0 token for the current user.",
                "in": "query",
                "name": "oauth_token",
                "schema": {
                    "type": "string"
                }
            },
            "prettyPrint": {
                "description": "Returns response with indentations and line breaks.",
                "in": "query",
                "name": "prettyPrint",
                "schema": {
                    "type": "boolean",
                    "default": true
                }
            },
            "quotaUser": {
                "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
                "in": "query",
                "name": "quotaUser",
                "schema": {
                    "type": "string"
                }
            },
            "userIp": {
                "description": "Deprecated. Please use quotaUser instead.",
                "in": "query",
                "name": "userIp",
                "schema": {
                    "type": "string"
                }
            }
        },
        "securitySchemes": {
            "Oauth2": {
                "description": "Oauth 2.0 authentication",
                "type": "oauth2",
                "flows": {
                    "authorizationCode": {
                        "authorizationUrl": "https://accounts.google.com/o/oauth2/auth",
                        "scopes": {
                            "https://www.googleapis.com/auth/apps.groups.migration": "Manage messages in groups on your domain"
                        },
                        "tokenUrl": "https://www.googleapis.com/oauth2/v4/token"
                    }
                }
            }
        }
    }
}